*{
    background-color: #BD9592;
}

.area{
    text-align: center;
    padding: 50px;
}

.img{
    width: 50%;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    padding: 10px;
    border-radius: 8px;
    font-size: 30px;
    color: white;
}

a.button:hover{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px;
    padding: 10px,20px,20px,10px;
    border-radius: 8px;
    font-size: 30px;
    color: #BD9592;
    background-color: white;
    transition: 0.5s;
    cursor: pointer;
}